### LOADING DATASET

In [ ]:
import pandas as pd

In [ ]:
filename='/content/IMDB Dataset.csv'
df=pd.read_csv(filename,error_bad_lines=False, engine="python")

Skipping line 23712: unexpected end of data

In [ ]:
df.shape

(23710, 2)

In [ ]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [ ]:
df['sentiment'].unique()
df['sentiment'].value_counts()

negative    11899
positive    11811
Name: sentiment, dtype: int64

### DATA PREPROCESSING

In [ ]:
import re
def  clean_text(df, text_field, new_text_field_name):
    df[new_text_field_name] = df[text_field].str.lower()
    df[new_text_field_name] = df[new_text_field_name].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|^rt|http.+?", "", elem))  
    # 1. Remove numbers, letters following '@' 
    # 2. Remove all special char except letters, numbers
    df[new_text_field_name] = df[new_text_field_name].apply(lambda elem: re.sub(r"\d+", "", elem)) 
    #remove numbers
    return df
data_clean = clean_text(df, 'review', 'review_Clean')
data_clean.head()

                                              review  ...                                       review_Clean
0  One of the other reviewers has mentioned that ...  ...  one of the other reviewers has mentioned that ...
1  A wonderful little production. <br /><br />The...  ...  a wonderful little production br br the filmin...
2  I thought this was a wonderful way to spend ti...  ...  i thought this was a wonderful way to spend ti...
3  Basically there's a family where a little boy ...  ...  basically theres a family where a little boy j...
4  Petter Mattei's "Love in the Time of Money" is...  ...  petter matteis love in the time of money is a ...

[5 rows x 3 columns]

In [ ]:
import nltk.corpus
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
data_clean['review_Clean'] = data_clean['review_Clean'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
data_clean.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              review  ...                                       review_Clean
0  One of the other reviewers has mentioned that ...  ...  one reviewers mentioned watching oz episode yo...
1  A wonderful little production. <br /><br />The...  ...  wonderful little production br br filming tech...
2  I thought this was a wonderful way to spend ti...  ...  thought wonderful way spend time hot summer we...
3  Basically there's a family where a little boy ...  ...  basically theres family little boy jake thinks...
4  Petter Mattei's "Love in the Time of Money" is...  ...  petter matteis love time money visually stunni...

[5 rows x 3 columns]

In [ ]:
import nltk 
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize
data_clean['review_tokens'] = data_clean['review_Clean'].apply(lambda x: word_tokenize(x))
data_clean.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

                                              review  ...                                      review_tokens
0  One of the other reviewers has mentioned that ...  ...  [one, reviewers, mentioned, watching, oz, epis...
1  A wonderful little production. <br /><br />The...  ...  [wonderful, little, production, br, br, filmin...
2  I thought this was a wonderful way to spend ti...  ...  [thought, wonderful, way, spend, time, hot, su...
3  Basically there's a family where a little boy ...  ...  [basically, theres, family, little, boy, jake,...
4  Petter Mattei's "Love in the Time of Money" is...  ...  [petter, matteis, love, time, money, visually,...

[5 rows x 4 columns]

In [ ]:
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize
def word_stemmer(text):
    stem_text = [PorterStemmer().stem(i) for i in text]
    return stem_text
data_clean['review_tokens_stem'] = data_clean['review_tokens'].apply(lambda x: word_stemmer(x))
data_clean.head()

                                              review  ...                                 review_tokens_stem
0  One of the other reviewers has mentioned that ...  ...  [one, review, mention, watch, oz, episod, youl...
1  A wonderful little production. <br /><br />The...  ...  [wonder, littl, product, br, br, film, techniq...
2  I thought this was a wonderful way to spend ti...  ...  [thought, wonder, way, spend, time, hot, summe...
3  Basically there's a family where a little boy ...  ...  [basic, there, famili, littl, boy, jake, think...
4  Petter Mattei's "Love in the Time of Money" is...  ...  [petter, mattei, love, time, money, visual, st...

[5 rows x 5 columns]

In [ ]:
final_df=pd.DataFrame(columns=['review','sentiment'])
final_df['review']=data_clean['review_tokens_stem']
final_df['sentiment']=data_clean['sentiment']

In [ ]:
final_df.head
final_df.shape
final_df.reset_index(drop=True)

                                                  review sentiment
0      [one, review, mention, watch, oz, episod, youl...  positive
1      [wonder, littl, product, br, br, film, techniq...  positive
2      [thought, wonder, way, spend, time, hot, summe...  positive
3      [basic, there, famili, littl, boy, jake, think...  negative
4      [petter, mattei, love, time, money, visual, st...  positive
...                                                  ...       ...
23705  [well, say, wait, comebr, br, wont, tri, spoil...  positive
23706  [rel, columbo, movi, rate, aw, serious, unders...  negative
23707  [earli, anim, movi, rather, good, film, caught...  positive
23708  [pleas, take, minut, read, entir, review, knoc...  negative
23709  [bela, lugosi, revel, role, european, horticul...  negative

[23710 rows x 2 columns]

In [ ]:
review_clean=[]
#def join_func(final_df):

for list_tokens in final_df['review']:
  #print(list_tokens)
  review_clean.append(' '.join(word for word in list_tokens))
  #print(list_tokens)
print(review_clean)
print(len(review_clean))
#final_df['Scene_clean']=final_df['Scene'].apply(join_func);

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
final_df['review_clean']=review_clean

In [ ]:
final_df.head()

                                              review  ...                                       review_clean
0  [one, review, mention, watch, oz, episod, youl...  ...  one review mention watch oz episod youll hook ...
1  [wonder, littl, product, br, br, film, techniq...  ...  wonder littl product br br film techniqu unass...
2  [thought, wonder, way, spend, time, hot, summe...  ...  thought wonder way spend time hot summer weeke...
3  [basic, there, famili, littl, boy, jake, think...  ...  basic there famili littl boy jake think there ...
4  [petter, mattei, love, time, money, visual, st...  ...  petter mattei love time money visual stun film...

[5 rows x 3 columns]

### Tfidf

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
vect = TfidfVectorizer(max_features=1000).fit(final_df.review_clean)
X = vect.transform(final_df.review_clean)
X_df = pd.DataFrame(X.toarray(), columns=vect.get_feature_names())
X_df.head()

   abil  abl  absolut  accent  ...     young      your  youv     zombi
0   0.0  0.0      0.0     0.0  ...  0.000000  0.000000   0.0  0.000000
1   0.0  0.0      0.0     0.0  ...  0.000000  0.000000   0.0  0.000000
2   0.0  0.0      0.0     0.0  ...  0.115223  0.000000   0.0  0.000000
3   0.0  0.0      0.0     0.0  ...  0.000000  0.121873   0.0  0.169092
4   0.0  0.0      0.0     0.0  ...  0.000000  0.000000   0.0  0.000000

[5 rows x 1000 columns]

In [ ]:
labels = []
for sent in final_df['sentiment']:
  if sent == 'negative':
    labels.append(0)
  elif sent == 'positive':
    labels.append(1)

In [ ]:
final_df['labels'] = labels
final_df.head()
y = final_df.iloc[:,-1]
print(y)

0        1
1        1
2        1
3        0
4        1
        ..
23705    1
23706    0
23707    1
23708    0
23709    0
Name: labels, Length: 23710, dtype: int64

In [ ]:
y.isnull().sum()

0

### Model Training

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_df,y,test_size=0.2,random_state=92)

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
log_reg = lr.fit(X_train,y_train)

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = log_reg.predict(X_test)
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[1983  364]
 [ 317 2078]]
0.8563897089835513